asyncio==3.4.3
motor
pymongo
python-dotenv==1.0.1
tgcrypto==1.2.5
telegraph
pillow==9.5.0
Unidecode
git+https://github.com/badmunda98/py-trans.git
git+https://github.com/badmunda98/pyrofork
aiohttp
gtts
wget
gpytranslate
pyfiglet
pydub
aiohttp==3.9.4
pymediainfo
opencv-python-headless
bs4
humanize
aiofiles
requests==2.31.0
sqlalchemy==1.3.23
SafoneAPI
youtube-search
youtube-search-python
git+https://github.com/KurimuzonAkuma/pyrogram
git+https://github.com/yt-dlp/yt-dlp
ntgcalls==1.3.0b3
py-tgcalls==2.1.0.dev2