asyncio==3.4.3
motor==3.3.2
pyrogram==2.0.106
python-dotenv==1.0.1
py-tgcalls==1.1.6
tgcrypto==1.2.5
yt-dlp==2023.12.30
telegraph
pillow==9.5.0
Unidecode
git+https://github.com/badmunda98/py-trans.git
git+https://github.com/badmunda98/pyrofork
aiohttp
gtts
wget
gpytranslate
yt_dlp
youtube-search-python==1.6.6
youtube-search==2.1.2
pyfiglet
pydub
aiohttp==3.9.1
pymediainfo
opencv-python-headless
bs4
humanize
aiofiles
requests==2.31.0
